html {
  color: #444;
  font-size: 100%;    
  background: #f7f7f7;
}

body { 
      margin:20px; color:black; background-color:#eee;
      font-family:Consolas; font-weight:600; font-size:110%;
}

.indent { margin-left:20px; margin-right:20px; }

h4 { margin-bottom: 3px; margin-top:3px; }

a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

